<!DOCTYPE html>
<html>
  <head>
    <title>GameDev</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>

    <% if flash[:alert] %>
      <div class="alert alert-warning fade in ">
        <a class="close" data-dismiss="alert" href="#"><i class="icon-remove"></i></a>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:message] %>
      <div class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" href="#"><i class="icon-remove"></i></a>
        <%= flash[:message] %>
      </div>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
