<!DOCTYPE html>
<html>
<head>
  <title>GameDev</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="flash-alert">
  <%= flash[:alert] %>
  </p>
  <p class="flash-message">
  <%= flash[:message] %>
  </p>

  <%= yield %>

</body>
</html>
